html { height: 100%;}

body {
  height: 100%;
  margin: 0;
  background-color: #174f3a;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px
}

.app-container {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .bajare {
    width: 100px;
  }

  .google {
    width: 150px;
  }
}